<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
  <link rel="icon" href="/icon/favicon-96x96.png">
  <link rel="stylesheet" href="/css/m_noti_addfrom.css">
  <link rel="stylesheet" href="/css/m_style.css">
  <title>BookCheck_m_noti_editform</title>
</head>

<body>
  <dl class="skip-nav">
    <dt class="blind"><strong>skip navigation</strong></dt>
    <dd><a href="/user/main">skip to main</a></dd>
    <dd><a href="/user/how">skip to how</a></dd>
    <dd><a href="/user/chart">skip to chart</a></dd>
    <dd><a href="/user/share">skip to with</a></dd>
    <dd><a href="/user/noti">skip to noti</a></dd>
    <dd><a href="/user/join">skip to join</a></dd>
    <dd><a href="#footer">skip to footer</a></dd>
  </dl>
  <!-- START -->
  <div class="whole_page">
    <div id="wrap" class="grid-container">
      <div id="side_header" class="grid-item1">
        <div class="header_content">
          <div class="logo">
            <h1>
              <a href="/manager/noti" title="메인페이지"><img src="/img/logo_m_fin.png" alt="책첵logo" width="90rem"></a>
            </h1>
          </div>
          <div class="gnb">
            <ul>
              <li><a href="/manager/how">어때책첵</a></li>
              <li><a href="/manager/noti">공지사항</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- START container -->
      <div id="container" class="grid-item2">
        <!-- content -->
        <div id="content">
          <div class="wrap_section">
            <div id="noti">
              <div class="icon_back">
                <a onclick="history.back();"><img src="/img/arrow_back.png" alt="뒤로" width="27px"></a>
              </div>
              <div class="title">
                <p>공지사항 수정</p>
                <form th:action="@{/manager/noti/edit{n_no}(n_no=${noti.n_no})}" method="post">
                  <table class="noti_form_table">
                    <tr>
                      <td>
                        <select name="category" id="category">
                          <option value="어때책첵">어때책첵</option>
                          <option value="공지사항">분석책첵</option>
                          <option value="공지사항">나눔책첵</option>
                          <option value="공지사항">공지사항</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type=text name="n_title" id="n_title" th:value="${noti.n_title}"
                          placeholder=" 제목을 입력하세요.">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <textarea name="n_content" id="n_content" th:text="${noti.n_content}"
                          placeholder="내용을 입력하세요."></textarea>
                      </td>
                    </tr>
                  </table>
                  <input type="date" name="n_date" id="n_date" th:value=${n_date}>
                  <div class="btn_upload">
                    <button type="submit" required>완료</button>
                  </div>
                  </table>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- START aside -->
      <div id="aside" class="grid-item3">
        <div class="aside_content">
          <div class="noties">
            <div class="simple_noti" th:each="notiEdit : ${notiEdit}">
              <a th:href="@{/manager/noti/detail{n_no}(n_no=${notiEdit.n_no})}">
                <h3 th:text="${notiEdit.n_title}">제목</h3>
                <p th:text="${notiEdit.n_content}">내용</p>
              </a>
            </div>
          </div>
          <!-- footer -->
          <div id="side_footer">
            <div class="footer">
              <ul>
                <li><a href="/user/terms">이용약관</a></li>
                <li><a href="/user/privacy">개인정보처리방침</a></li>
                <li><a href="/user/main">관리자나가기</a></li>
              </ul>
              <div>
                <p>&copy;BOOKCHECK ALL RIGHTS RESERVED</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var currentDate = new Date();
    var year = currentDate.getFullYear(); // 연도 가져오기
    var month = currentDate.getMonth() + 1; // 월(0부터 시작하므로 1을 더함)
    var day = currentDate.getDate(); // 일 가져오기
    if (month < 10) {
      month = '0' + month;
    }
    if (day < 10) {
      day = '0' + day;
    }
    var formattedDate = year + '-' + month + '-' + day;
    document.getElementById("n_date").value = formattedDate; 
  </script>
  <script src="/js/main.js"></script>
</body>

</html>