@charset "UTF-8";

.grid-container {
  gap: 3.2rem;
}

/* container */
#container #content .wrap_section {
  width: 100%;
  height: fit-content;
  margin: 5rem 0;
}

#container #content .icon_back>a {
  display: inline-block;
}

#container #content #noti .title {
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  text-align: center;
  margin: 2rem 0;
  color: #545454;
  font-weight: bold;
}

#container #content #noti .title form {
  margin: 2rem 0;
  ;
}

#container #content #noti .title p {
  font-size: 18px;
}

#container #content #noti form table {
  width: 100%;
  clear: both;  
}

#container #content #noti form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

#container #content #noti form input[type="month"] {
  float: left;
}

#container #content #noti form textarea:nth-of-type(2) {
  height: 300px;
}

.noti_form_table select, .noti_form_table input[type="month"] {
  margin-bottom: 5px;
  float: left;
  width: 120px;
  height: 30px;
}

.noti_form_table select {
  margin-bottom: 20px;
}

form input[type="submit"] {
  float: right;
  background-color: #545454;
  color: aliceblue;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  border-style: none;;
}

form input[type="submit"]:hover {
  background-color: #4c4c4c;
}
