@charset "UTF-8";

.grid-container {
  gap: 5rem;
}

/* Hide Calendar Icon In Chrome */
input[type="date"] {
  border: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* container */
#container #content .wrap_section {
  width: 100%;
  height: fit-content;
  margin: 5rem 0;
}

#container #content .icon_back::after {
  content: '';
  display: block;
  clear: both;
}

#container #content .icon_backa {
  display: inline-block;
}

#container #content .icon_back a:nth-child(2) {
  float: right;
  width: 3.8rem;
  line-height: 2rem;
  font-size: 17px;
  font-weight: bold;
  /* background-color: #7a7a7a; */
  /* color: white; */
  border-radius: 5px;
  text-align: center;
}

#container #content .full_content {
  position: relative;
  margin: 3rem 1.5rem;
  text-align: center;
}

#container #content .full_content .noti_head {
  height: fit-content;
}

#container #content .full_content .noti_head>span {
  position: absolute;
  left: 0;
  font-size: 12px;
  vertical-align: middle;
}

#container #content .full_content .noti_head>h2 {
  display: inline;
  font-size: 16px;
  font-weight: 900;
  width: 60%;
  text-align: center;
  vertical-align: top;
}

#container #content .full_content .noti_body {
  padding: 1rem 0;
}

#container #content .full_content .noti_body .noti_title>h3 {
  font-weight: bold;
}

#container #content .full_content .noti_body .noti_title .mini_benner {
  padding: 4rem 0;
}

#container #content .full_content .noti_body .noti_title .main {
  text-align: left;
}

#container #content .full_content .noti_body .noti_title .main p {
  font-size: 18px;
  padding-bottom: 5rem;
  line-height: 27px;
}

/* 수정, 삭제버튼 */
#container #content .noti_body .btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  text-align: center;
  z-index: 1;
}

#container #content .noti_body .btns span>button,
.modify {
  display: inline-block;
  width: 3.8rem;
  line-height: 2rem;
  font-size: 15px;
  background-color: #7a7a7a;
  color: white;
  border-radius: 5px;
}

#container #content .noti_body .btns span>button {
  margin-right: 15px;
  background-color: #9b9b9b;
}

#container #content .noti_body .btns span>button:hover,
.modify:hover {
  background-color: #545454;
  font-weight: 900;
}