@charset "UTF-8";

/* Reset Css */
* {
  box-sizing: border-box;
  outline: none;
  font-family: 'NanumSquare';
}

html,
body,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000;
}


h1 {
  font-size: 32px;
  font-weight: bold;
}

ul,
ol,
li {
  list-style: none;
  font-size: 20;
  display: flex;
  flex-wrap: nowrap;
}

p {
  list-style: none;
  font-size: 20;
  flex-wrap: nowrap;
}

img {
  border: 0;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  transition: all .3s linear;
  cursor: pointer
}

.blind {
  display: none;
}

hr {
  width: 100%;
  height: 1px;
  border-style: none;
  background-color: #585858;
  opacity: 0.5;
}

/* 바로가기 = 웹 접근성 */
.skip-nav a {
  position: absolute;
  color: #eee;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  z-index: 999;
  display: block;
  line-height: 2.5em;
  text-align: center;
  left: 0;
  top: -70px;
}

body {
  /* width: 100vh; */
  height: 100vh;
}

.whole_page {
  width: 95rem;
  margin: 0 auto;
  position: relative;
}

/* index */
#wrap .container .about {
  display: grid;
  grid-template-columns: repeat();
}

.index_logo img {
  width: 100%;
  height: auto;
}

/* main */
.grid-container {
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  /* gap: 1.5rem; */
}

#side_header,
#aside {
  background-color: rgb(247, 236, 230);
  padding: 2rem;
  width: 100%;
  height: 100%;
}

#side_header .header_content {
  position: sticky;
  left: 0;
  top: 0;
}

#side_header .logo {
  width: 100%;
}

#side_header .gnb {
  width: 100%;
}

#side_header .gnb>ul {
  display: block;
  padding: 3rem 0 0;
}

#side_header .gnb>ul li {
  padding: 0 0 1rem;
  /* font-weight: bold; */
}

#side_header .gnb hr {
  margin: 1rem 0;
}

/* container */
#container #main_banner {
  position: relative;
  width: 100%;
}

#container #content .section {
  padding: 5rem 3rem;
  text-align: center;
}

#container #content .section .intro {
  padding: 5rem 1.5rem;
}

#container #content .section h2 {
  padding-bottom: 5rem;
}

#container #content .section p {
  text-align: justify;
  font-size: 16px;
}

#container #content .section .sub_line {
  padding-bottom: 2rem;
}

#container #content .section hr {
  width: 200px;
}

/* aside_right */
#aside .aside_content {
  position: sticky;
  top: 1rem;
}

#aside .noties .simple_noti {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px 10px;
  margin: 1rem 0;
  height: 5rem;
}

#aside .noties .simple_noti h3 {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
}

#aside .noties .simple_noti p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;
}

/* join */
#aside .side_join {
  background-color: #4c4c4c;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  /* width: 10rem; */
  padding: 12px;
  text-align: center;
}

#aside .side_join p {
  display: block;
  font-size: 15px;
  color: #eee;
}

#aside .side_join a {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #F7ECE6;
  font-size: 14px;
  color: #333;
}

#aside .side_join a:hover {
  font-weight: 900;
}

/* footer */
#aside {
  display: flex;
  flex-direction: column;
}

#aside #side_footer {
  text-align: center;
  margin-top: 2rem;
  height: 3rem;
}

#aside #side_footer .footer {
  bottom: 1rem;
  /* position: fixed; */
}

#aside #side_footer ul {
  padding: 5px 0;
  display: block;
  justify-content: center;
}

#aside #side_footer ul li {
  font-size: 12px;
  display: inline-block;
}

#aside #side_footer ul li:nth-child(2) {
  padding: 0 1rem;
}

#aside #side_footer p {
  display: block;
  font-size: 10px;
}