<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
  <link rel="icon" href="icon/favicon-96x96.png">
  <link rel="stylesheet" href="/css/u_privacy.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>개인정보처리방침</title>
</head>

<body>
  <dl class="skip-nav">
    <dt class="blind"><strong>skip naviation</strong></dt>
    <dd><a href="/user/main">skip to main</a></dd>
    <dd><a href="/user/how">skip to how</a></dd>
    <dd><a href="/user/chart">skip to chart</a></dd>
    <dd><a href="/user/share">skip to share</a></dd>
    <dd><a href="/user/noti">skip to noti</a></dd>
    <dd><a href="/user/join">skip to join</a></dd>
    <dd><a href="#footer">skip to footer</a></dd>
  </dl>
  <!-- START -->
  <div class="whole_page">
    <div id="wrap" class="grid-container">
      <div id="side_header" class="grid-item1">
        <div class="header_content">
          <div class="logo">
            <h1>
              <a href="/user/main" title="메인페이지"><img src="/img/logo_fin.png" alt="책첵logo" width="90rem"></a>
            </h1>
          </div>
          <div class="gnb">
            <ul>
              <li><a href="/user/main">홈</a></li>
              <li><a href="/user/how">어때책첵</a></li>
              <li><a href="/user/chart">분석책첵</a></li>
              <li><a href="/user/share">나눔책첵</a></li>
            </ul>
            <hr>
            <p><a href="/user/noti">공지사항</a></p>
          </div>
        </div>
      </div>

      <!-- 개인정보처리방침 -->
      <div class="container privacy_check">
        <a href="/user/main"><img src="/img/arrow_back.png" alt="뒤로가기"></a>
        <h3>책첵 개인정보처리방침</h3>
        <p>
          <책첵>('www.bookcheck.com'이하 '책첵')은(는) 「개인정보 보호법」 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기
            위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.
        </p>
        <br>
        <div>
          <b>
            제1조(개인정보의 처리 목적)<br>
            <책첵>('www.bookcheck.com'이하 '책첵')은(는) 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며 이용
              목적이 변경되는 경우에는 「개인정보 보호법」 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
          </b>
          <ul>
            <li>1. 재화 또는 서비스 제공
              서비스 제공, 콘텐츠 제공, 맞춤서비스 제공, 본인인증, 연령인증을 목적으로 개인정보를 처리합니다.</li>
            <li>2. 마케팅 및 광고에의 활용
              신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공 , 인구통계학적 특성에 따른 서비스 제공 및 광고 게재 , 서비스의 유효성 확인, 접속빈도 파악
              또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제2조(개인정보의 처리 및 보유 기간)</b>
          <p>2. 재화 또는 서비스 제공
            - 서비스 공급완료시까지 처리·보유합니다.
            ※ 다만, 다음 사유에 해당하는 경우에는 해당 사유 종료시까지 처리·보유합니다.</p>
        </div>
        <br><br>
        <div>
          <b>제3조(개인정보의 제3자 제공)</b>
          <p>
            <책첵>은(는) 개인정보를 제1조(개인정보의 처리 목적)에서 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 「개인정보 보호법」 제17조 및 제18조에
              해당하는 경우에만 개인정보를 제3자에게 제공합니다.
          </p>
        </div>
        <br><br>
        <div>
          <b>제4조(개인정보처리 위탁)</b>
          <ul>
            <li>① <책첵>은(는) 개인정보 처리업무를 위탁하고 있지 않습니다.</li>
            <li>② 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b></b>
          <ul>
            <li>① 정보주체는 책첵에 대해 언제든지 개인정보 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다.</li>
            <li>② 제1항에 따른 권리 행사는주식회사 책첵에 대해 「개인정보 보호법」 시행령 제41조제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 주식회사 그믐은(는)
              이에 대해 지체 없이 조치하겠습니다.</li>
            <li>③ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다.이 경우 “개인정보 처리 방법에 관한 고시(제2020-7호)” 별지 제11호
              서식에 따른 위임장을 제출하셔야 합니다.</li>
            <li>④ 개인정보 열람 및 처리정지 요구는 「개인정보 보호법」 제35조 제4항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.</li>
            <li>⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.</li>
            <li>⑥ 주식회사 책첵은(는) 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제6조(처리하는 개인정보의 항목 작성)</b>
          <p>
            <책첵>은(는) 다음의 개인정보 항목을 처리하고 있습니다.
          </p>
          <p>서비스 이용과정에서 다음 개인정보 항목이 자동으로 수집될 수 있습니다.<br>
            - 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보</p>
        </div>
        <br><br>
        <div>
          <b>제8조(개인정보의 안전성 확보 조치)</b>
          <b>
            <책첵>은(는) 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
          </b>
          <ul>
            <li>1. 정기적인 자체 감사 실시
              개인정보 취급 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.</li>
            <li>2. 내부관리계획의 수립 및 시행
              개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.</li>
            <li>3. 해킹 등에 대비한 기술적 대책
              <책첵>은 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에
                시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
            </li>
            <li>4. 개인정보의 암호화
              이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도
              보안기능을 사용하고 있습니다.</li>
            <li>5. 접속기록의 보관 및 위변조 방지
              개인정보처리시스템에 접속한 기록을 최소 1년 이상 보관, 관리하고 있으며,다만, 5만명 이상의 정보주체에 관하여 개인정보를 추가하거나, 고유식별정보 또는 민감정보를 처리하는 경우에는 2년이상
              보관, 관리하고 있습니다.
              또한, 접속기록이 위변조 및 도난, 분실되지 않도록 보안기능을 사용하고 있습니다.</li>
            <li>6. 개인정보에 대한 접근 제한
              개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을
              통제하고 있습니다.
            </li>
            <li>7. 비인가자에 대한 출입 통제
              개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제9조(개인정보 자동 수집 장치의 설치•운영 및 거부에 관한 사항)</b>
          <ul>
            <li>① 책첵은(는) 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.</li>
            <li>② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.
              가. 쿠키의 사용 목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.
              나. 쿠키의 설치•운영 및 거부 : 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.
              다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제10조(권익침해 구제방법)</b>
          <p>정보주체는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다. 이 밖에 기타 개인정보침해의
            신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.</p>
          <ul>
            <li>1. 개인정보분쟁조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)</li>
            <li>2. 개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)</li>
            <li>3. 대검찰청 : (국번없이) 1301 (www.spo.go.kr)</li>
            <li>4. 경찰청 : (국번없이) 182 (ecrm.cyber.go.kr)</li>
          </ul>
          <p>「개인정보보호법」제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대 하여 공공기관의 장이 행한 처분 또는 부작위로 인하여
            권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.</p>
          <p>※ 행정심판에 대해 자세한 사항은 중앙행정심판위원회(www.simpan.go.kr) 홈페이지를 참고하시기 바랍니다.</p>
        </div>
      </div>

      <!-- START aside -->
      <div id="aside" class="grid-item3">
        <div class="aside_content">
          <div class="noties">
            <div class="simple_noti" th:each="noti:${noti}">
              <a th:href="@{/user/noti/} + ${noti.n_no}">
                <h3 th:text=${noti.n_title}></h3>
                <p th:text="${noti.n_content}"></p>
              </a>
            </div>
            <!-- 신청하기 -->
            <div class="side_join">
              <p>책첵과 함께하기</p>
              <a href="/user/join">신청</a>
            </div>
          </div>
          <!-- footer -->
          <div id="side_footer">
            <div class="footer">
              <ul>
                <li><a href="/user/terms">이용약관</a></li>
                <li><a href="/user/privacy">개인정보처리방침</a></li>
               <li><button class="btn_modal">관리자페이지</button></li>
              </ul>
              <div>
                <p>&copy;BOOKCHECK ALL RIGHTS RESERVED</p>
              </div>
            </div>
          </div>
          <!-- modal -->
          <div id="modal" class="pw_modal">
            <div class="modal_wrap">
              <div class="modal_header">
                <p class="pw_text">관리자 비밀번호를 입력하세요.</p>
              </div>
              <div class="modal_content">
                <!-- x 버튼 -->
                <div class="description_head">
                  <button class="pw_btn_close">&times;</button>
                </div>
                <!-- m_noti.html 연결 -->
                <form action="/manager/noti" method="post" name="maneger_pw_form" class="description_header" target="_blank">
                  <input type="password" maxlength="6" placeholder=" 비밀번호를 입력하세요." title="숫자 4자리 이상" pattern="[0-9]+"
                    id="pwd" name="pwd" required>
                  <button type="submit" minlength="4" onclick="return checkPwd()">확인</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>