<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
  <link rel="icon" href="icon/favicon-96x96.png">
  <link rel="stylesheet" href="/css/u_terms.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>이용약관</title>
</head>

<body>
  <dl class="skip-nav">
    <dt class="blind"><strong>skip naviation</strong></dt>
    <dd><a href="/user/main">skip to main</a></dd>
    <dd><a href="/user/how">skip to how</a></dd>
    <dd><a href="/user/chart">skip to chart</a></dd>
    <dd><a href="/user/share">skip to share</a></dd>
    <dd><a href="/user/noti">skip to noti</a></dd>
    <dd><a href="/user/join">skip to join</a></dd>
    <dd><a href="#footer">skip to footer</a></dd>
  </dl>
  <!-- START -->
  <div class="whole_page">
    <div id="wrap" class="grid-container">
      <div id="side_header" class="grid-item1">
        <div class="header_content">
          <div class="logo">
            <h1>
              <a href="/user/main" title="메인페이지"><img src="/img/logo_fin.png" alt="책첵logo" width="90rem"></a>
            </h1>
          </div>
          <div class="gnb">
            <ul>
              <li><a href="/user/main">홈</a></li>
              <li><a href="/user/how">어때책첵</a></li>
              <li><a href="/user/chart">분석책첵</a></li>
              <li><a href="/user/share">나눔책첵</a></li>
            </ul>
            <hr>
            <p><a href="/user/noti">공지사항</a></p>
          </div>
        </div>
      </div>

      <!-- 이용약관 -->
      <div class="container terms_check">
        <a href="/user/main"><img src="/img/arrow_back.png" alt="뒤로가기"></a>
        <h3>책첵 이용약관</h3>
        <div>
          <b>제1조 (목적)</b>
          <p>본 약관은 책첵 (이하 '동아리' 또는 ‘책첵’)에서 제공하는 책첵 및 책첵 관련 제반 서비스(이하 '서비스')의 이용과 관련하여 회사와 회원의 권리, 의무 및 책임사항, 기타 필요한 사항을
            규정함을 목적으로 합니다.</p>
        </div>
        <br><br>
        <div>
          <b>제 2조 (용어의 정의)</b>
          <ul>
            <li>(1) 서비스 : 회사에서 개발하고 회사에서 정보통신망을 통하여 제공하는 인터넷 기반 의견 공유 서비스를 의미합니다.</li>
            <li>(2) 회원 : 서비스에 접속하여 이 약관에 동의하고 서비스를 이용하는 모든 자를 말합니다.</li>
            <li>(3) 비밀번호 혹은 PASSWORD : 회원의 ID 확인 및 비밀보호를 위해 회원 자신이 정한 문자와 숫자, 특수 기호의 조합을 의미합니다.</li>
            <li>(4) 사이트 : 서비스를 제공하고 있는 회사의 인터넷 사이트를 말합니다.</li>
            <li>(5) 운영자 : 서비스의 원활한 운영 및 관리 등을 위하여 회사가 선정한 자를 말합니다.</li>
            <li>(6) 모임 : 의견 공유가 이루어지는 회사 사이트 상의 공간을 의미합니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제3조 (이용계약 체결)</b>
          <ul>
            <li>1. 서비스 이용계약의 성립은 회사가 제공하는 서비스를 이용하려는 자가 본 이용약관 내용에 대한 동의를 하고 그러한 이용신청에 대하여 회사가 이용 승낙을 함으로써 성립합니다.</li>
            <li>2. 회사는 서비스 이용을 신청한 이용 고객에 대하여 업무상, 기술상 지장이 없는 한 접수순서에 따라 이용신청을 승낙합니다.</li>
            <li>3. 회사는 서비스 이용을 신청한 이용 고객에 대하여 업무상, 기술상 지장이 없는 한 접수순서에 따라 이용신청을 승낙합니다.</li>
            <li>4. 회사는 서비스 관련 설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우, 또는 만 14세 미만의 미성년자인 경우에는 승낙을 유보할 수 있습니다.</li>
            <li>5. 회사는 회원에 대해 회사정책에 따라 등급별로 구분하여 이용시간, 이용횟수, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제4조 (개인정보보호 의무)</b>
          <ul>
            <li>1. 회사는 “정보통신망법”, “개인정보 보호법” 등 관계 법령이 정하는 바에 따라 회원의 개인정보를 보호하기 위해 노력합니다.</li>
            <li>2. 개인정보의 보호 및 사용에 대해서는 관련법 및 회사의 개인정보 처리방침이 적용됩니다. 다만, 회사의 공식 사이트 이외의 링크된 외부 사이트에서는 회사의 개인정보 처리방침이 적용되지
              않습니다.</li>
            <li>3. 회사는 회원의 귀책사유로 인해 노출된 정보에 대해서는 일체의 책임을 지지 않습니다.</li>
            <li>4. 회사는 본인 확인을 위해 필요한 경우, 회원에게 그 이유(용도)를 고지하고 회원의 신분증 또는 이에 갈음하는 증서를 요구할 수 있습니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제5조 (서비스의 제공)</b>
          <ul>
            <li>1. 회사는 회원에게 커뮤니티 서비스(모임 등)를 제공합니다.</li>
            <li>2. 기타 회사가 추가 개발하거나 다른 회사와의 제휴 계약 등을 통해 회원들에게 제공할 일체의 서비스</li>
            <li>3. 서비스 이용은 회사의 업무상 또는 기술상 특별한 지장이 없는 한 사전에 공지된 일정 및 시간에 따라 운영하는 것을 원칙으로 합니다. 단, 회사는 컴퓨터 등 정보통신 시스템의
              보수점검, 정기점검, 증설 및 교체, 고장, 통신두절 또는 운영상 필요에 의한 목적 및 예상치 못한 문제 발생 시 서비스의 전부 또는 일부를 일시 중지하거나 제한할 수 있습니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제6조 (회사의 의무)</b>
          <ul>
            <li>1. 회사는 서비스 제공과 관련하여 알고 있는 회원의 개인정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 단, 관계법령에 의한 수사상의 목적으로 관계기관으로부터 요구 받은
              경우나 방송통신심의위원회의 요청이 있는 경우 등 법률의 규정에 따른 적법한 절차에 의한 경우에는 그러하지 않습니다.</li>
            <li>2. 회사는 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 본 약관이 정하는 바에 따라 지속적이고, 안정적으로 서비스를 제공하기 위해서 노력합니다.</li>
            <li>3. 회사는 회원이 안전하고 편리하게 서비스를 이용할 수 있도록 시스템을 구축합니다.</li>
            <li>4. 회사는 서비스이용과 관련하여 회원으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 처리하여야 합니다.</li>
            <li>5. 회원이 제기한 의견이나 불만사항에 대해서는 게시판을 활용하거나 전자우편 또는 문자메시지 등을 통하여 회원에게 처리과정 및 결과를 전달합니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제7조 (약관의 개정)</b>
          <ul>
            <li>1. 회사는 '정보통신망 이용촉진 및 정보보호 등에 관한 법률', '약관의 규제에 관한 법률' 등 관련 법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.</li>
            <li>2. 다만, 개정 내용이 회원에게 불리할 경우에는 적용일자 14일 이전부터 적용일자 전일까지 공지합니다.</li>
            <li>3. 회원은 변경된 약관에 대해 거부할 권리가 있습니다. 회원은 변경된 약관이 공지된 후 14일 이내에 거부 의사를 표명할 수 있습니다. 회원이 거부하는 경우 회사는 당해 회원과의
              이용계약을 해지할 수 있습니다. 만약 회원이 변경된 약관이 공지된 후 14일 이내에 거부 의사를 표하지 않는 경우에는 동의하는 것으로 간주합니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제8조 (데이터 및 기타 자료의 수집 등)</b>
          <p>
            회사는 서비스의 안정화 및 오류 개선, 고객지원 등을 위해 회원의 개인정보를 제외한 PC 사양 및 시스템 정보, 오류 정보를 수집, 요청할 수 있습니다.
          </p>
        </div>
        <br><br>
        <div>
          <b>제9조 (재판관할)</b>
          <ul>
            <li>1. 서비스 이용과 관련하여 회사와 회원 사이에 분쟁이 발생한 경우, 회사와 회원은 분쟁의 해결을 위해 성실히 협의합니다.</li>
            <li>2. 본 조 제1항의 협의에서도 분쟁이 해결되지 않을 경우 양 당사자는 민사소송법상의 관할법원에 소를 제기할 수 있습니다.</li>
          </ul>
        </div>
        <br><br>
        <div>
          <b>제10조 (개정 전 고지의무)</b>
          <p>본 이용약관의 내용 추가, 삭제 및 수정이 있을 경우 개정 최소 7일 전에 회사 서비스 내의 공지사항을 통하여 사전 공지를 할 것입니다.
          </p>
          <p>공고일자 : 2023년 5월 30일</p>
          <p>시행일자 : 2023년 5월 30일</p>
        </div>
      </div>

      <!-- START aside -->
      <div id="aside" class="grid-item3">
        <div class="aside_content">
          <div class="noties">
            <div class="simple_noti" th:each="noti:${noti}">
              <a th:href="@{/user/noti/} + ${noti.n_no}">
                <h3 th:text=${noti.n_title}></h3>
                <p th:text="${noti.n_content}"></p>
              </a>
            </div>
            <!-- 신청하기 -->
            <div class="side_join">
              <p>책첵과 함께하기</p>
              <a href="/user/join">신청</a>
            </div>
          </div>
          <!-- footer -->
          <div id="side_footer">
            <div class="footer">
              <ul>
                <li><a href="/user/terms">이용약관</a></li>
                <li><a href="/user/privacy">개인정보처리방침</a></li>
                <li><button class="btn_modal">관리자페이지</button></li>
              </ul>
              <div>
                <p>&copy;BOOKCHECK ALL RIGHTS RESERVED</p>
              </div>
            </div>
          </div>
          <div id="modal" class="pw_modal">
            <div class="modal_wrap">
              <div class="modal_header">
                <p class="pw_text">관리자 비밀번호를 입력하세요.</p>
              </div>
              <div class="modal_content">
                <!-- x 버튼 -->
                <div class="description_head">
                  <button class="pw_btn_close">&times;</button>
                </div>
                <!-- m_noti.html 연결 -->
                <form action="/manager/noti" method="post" name="maneger_pw_form" class="description_header" target="_blank">
                  <input type="password" maxlength="6" placeholder=" 비밀번호를 입력하세요." title="숫자 4자리 이상" pattern="[0-9]+"
                    id="pwd" name="pwd" required>
                  <button type="submit" minlength="4" onclick="return checkPwd()">확인</button>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>