@charset "UTF-8";

.grid-container {
  gap: 3.2rem;
}

/* container */
#container #main_banner {
  position: relative;
  width: 100%;
  /* top: -13rem; */
  margin: 0 auto;
  text-align: center;
}

#container #main_banner img {
  /* position: inherit;
  top: -13rem; */
  object-fit: none;
  width: 100%;
  height: auto;
}

#container #content #noti .title {
  width: 100%;
  background-color: #FDEFC8;
  border-radius: 5px;
  text-align: center;
  line-height: 4rem;
  margin: 2rem 0;
}

#container #content #noti .title a {
  display: block;
  transition: all .5s;
}

#container #content #noti .title a:hover {
  background-color: #545454;
  border-radius: 5px;
  color: #FDEFC8;
}

#container #content #noti .noti_list {
  padding: 2rem 0 3rem;
}

#container #content #noti .notice {
  padding: 0 0 2rem;
  margin: 0 0 2rem;
}

#container #content #noti .notice>a {
  position: relative;
  display: block;
  width: 100%;
  /* height: 100%; */
}

#container #content #noti .notice>a::after {
  content: '';
  display: block;
  clear: both;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(149, 149, 149);
  opacity: 0;
  border-radius: 5px;
  transition: all .3s linear;
}

#container #content #noti .notice a img {
  width: 100px;
}

#container #content #noti .notice>a:hover::after {
  opacity: 0.2;
}

#container #content #noti .notice p,
span {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#container #content #noti .notice a p:nth-child(1) {
  font-size: 18px;
}

#container #content #noti .notice a p:nth-child(2) {
  padding: 1rem 0;
}

#container #content #noti .notice .btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  text-align: center;
  z-index: 1;
}

#container #content #noti .notice .btn_remove,
.modify {
  display: inline-block;
  width: 3.8rem;
  line-height: 2rem;
  font-size: 15px;
  background-color: #7a7a7a;
  border-radius: 5px;
  color: white;
}

/* #container #content #noti .notice .btn_remove {
  margin-right: 15px;
  background-color: #9b9b9b;
} */

#container #content #noti .notice .modify:hover {
  background-color: #545454;
  font-weight: 900;
}

#container #content #noti .notice span>img {
  width: 1.8rem;
  vertical-align: middle;
}

#noti .noti_list input {
  width: 150px;
  height: 30px;
  margin-bottom: 70px;
}

#noti .noti_list input[type="submit"] {
  width: 70px;
  border-style: none;
  background-color: #7a7a7a;
  color: #fff;
  border-radius: 5px;
  font-weight: 900;
}

#noti .noti_list input[type="submit"]:hover {
  background-color: #545454;
}

