@charset "UTF-8";

/* Reset Css */
* {
  box-sizing: border-box;
  outline: none;
  font-family: 'NanumSquare';
}


html,
body,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p,
ul,
li,
dl,
dt,
dd,
tr,
th,
td {
  /* font-size: 14px; */
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #000;
}


h1 {
  font-size: 32px;
  font-weight: bold;
}

ul,
ol,
li {
  list-style: none;
  font-size: 20;
  display: flex;
  flex-wrap: nowrap;
}

p {
  list-style: none;
  font-size: 20;
  flex-wrap: nowrap;
}

img {
  border: 0;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  transition: all .3s linear;
  cursor: pointer
}

.blind {
  display: none;
}

hr {
  width: 100%;
  height: 1px;
  border-style: none;
  background-color: #585858;
  opacity: 0.5;
}

/* 바로가기 = 웹 접근성 */
.skip-nav a {
  position: absolute;
  color: #eee;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  z-index: 999;
  display: block;
  line-height: 2.5em;
  text-align: center;
  left: 0;
  top: -70px;
}

body {
  /* width: 100vw; */
  height: 100vh;
}

.whole_page {
  width: 95rem;
  margin: 0 auto;
  position: relative;
}

/* index */
#wrap {
  width: 100%;
  height: 100vh;
}

#wrap .index_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: example 5s ease-in-out forwards normal;
}

@keyframes example {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }

  to {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100) translateY(100);
  }
}

#wrap .index_container .contant {
  display: table;
  float: left;
  width: 70%;
  height: 100vh;
  padding: 0 20%;
  text-align: left;
  background-color: #F7ECE6;
}

#wrap .index_container .contant h1 {
  font-size: 75px;
  font-weight: bolder;
}

#wrap .index_container .contant p {
  font-size: 35px;
}

/* #wrap .index_container .contant h1,
p {
  opacity: 0;
  animation: fade-in 3s ease-in-out forwards;
  animation-delay: .8s;
}

#wrap .index_container .index_logo {
  opacity: 0;
  animation: fade-in 3s ease-in-out forwards;
  animation-delay: 1.8s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */

#wrap .index_container .contant div {
  display: table-cell;
  vertical-align: middle;
}

#wrap .index_logo {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100vh;
}

/* main */
.grid-container {
  display: grid;
  grid-template-columns: 20rem auto 20rem;
}

#side_header,
#aside {
  background-color: rgb(247, 236, 230);
  padding: 2rem;
  width: 100%;
  height: 100%;
}

#side_header .header_content {
  position: sticky;
  left: 0;
  top: 0;
}

#side_header .logo {
  width: 100%;
}

#side_header .gnb {
  width: 100%;
}

#side_header .gnb>ul {
  display: block;
  padding: 3rem 0 0;
}

#side_header .gnb>ul li,
.gnb>p {
  line-height: 2.5rem;
  font-weight: bold;
  padding-left: 1rem;
}

#side_header .gnb>ul li:hover,
.gnb>p:hover {
  font-weight: bold;
  border-radius: 22px;
  background-color: rgb(231, 214, 176);
  font-size: large;
}

#side_header .gnb>ul li:focus,
.gnb>p:focus {
  font-weight: bold;
  border-radius: 22px;
  background-color: rgb(231, 214, 176);
  font-size: large;
}

#side_header .gnb hr {
  margin: 1rem 0;
}

/* aside_right */
#aside {
  display: flex;
  flex-direction: column;
}

#aside .aside_content {
  position: sticky;
  top: 0;
}

#aside .noties .simple_noti {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px 10px;
  margin: 0 0 1rem;
  height: 5rem;
}

#aside .noties .simple_noti:hover {
  background-color: #dddddd;
  color: #F7ECE6;
}

#aside .noties .simple_noti h3 {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
}

#aside .noties .simple_noti p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;
}

/* join */
#aside .side_join {
  background-color: #4c4c4c;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  height: 5rem;
  padding: 12px;
  text-align: center;
  color: #eee;
  transform: all .2s linear;
}

#aside .side_join a:hover {
  background-color: #FDEFC8;
}

#aside .side_join p {
  display: block;
  font-size: 15px;
}

#aside .side_join a {
  display: block;
  padding: 7px 15px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #F7ECE6;
  font-size: 14px;
  color: #333;
  transform: all .2s linear;
}

#aside .side_join a:hover {
  font-weight: bold;
}

/* footer */
#aside .aside_content .noties {
  height: 90vh;
  overflow: scroll;
  border-radius: 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#aside .aside_content .noties::-webkit-scrollbar {
  display: none;
}

#aside #side_footer {
  position: sticky;
  text-align: center;
  bottom: 0;
}

#aside #side_footer .footer {
  display: grid;
  justify-content: center;
  padding: 1rem 0 0;
}

#aside #side_footer ul {
  padding: 5px 0;
  width: 100%;
  text-align: center;
}

#aside #side_footer ul li,
button {
  font-size: 12px;
  display: inline-block;
}

#aside #side_footer li:hover {
  background-color: #FDEFC8;
}

#aside #side_footer ul li:nth-child(2) {
  margin: 0 1rem;
}

#aside #side_footer p {
  margin: 10px 0;
  display: block;
  font-size: 10px;
}

/* modal*/
.pw_modal {
  position: absolute;
  bottom: 10%;
  width: 100%;
  background-color: #FDEFC8;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 1rem;
  z-index: 100;
  display: none;
}

#modal.active {
  display: block;
}

/* 관리자mode 공지사항 삭제 */
.remove_modal {
  position: fixed;
  width: 20rem;
  line-height: 4em;
  top: 50%;
  left: 50%;
  background-color: #565656;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  z-index: 100;
  display: none;
}

.remove_modal .modal_content .remove_btns>button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 1rem;
  background-color: #dddddd;
  border-radius: 5px;
}

.remove_modal .modal_content .remove_btns>button:hover {
  font-weight: bold;
  background-color: #dddddd;
}


/* 관리자 pw */
.pw_modal .modal_wrap::after {
  content: '';
  display: block;
  clear: both;
}

.pw_modal .modal_wrap p {
  font-size: 14px;
  text-align: left;
}

.pw_modal .modal_wrap p:nth-child(2) {
  display: none;
}

.remove_btn_close,
.pw_btn_close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  font-size: 20px;
  color: #333;
}

.remove_btn_close {
  color: #eee;
}

.remove_btn_close:hover,
.btn_close:hover {
  cursor: pointer;
}

.pw_modal .modal_wrap form {
  padding: 1rem 0 0;
}

.pw_modal .modal_wrap .modal_content form>input {
  float: left;
  width: fit-content;
  line-height: 2rem;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  margin-top: 0;
  background-color: #ffffff;
}

/* .pw_modal .modal_wrap input:invalid {
  border: 1px solid red;
} */

.pw_modal .modal_wrap form>button {
  float: right;
  background-color: #4c4c4c;
  width: 4rem;
  color: #eee;
  line-height: 2.2rem;
  border-radius: 5px;
}

.pw_modal .modal_wrap form>button:hover {
  background-color: #ffd1d1;
  color: #333;
}