@charset "UTF-8";

#wrap {
  position: static;
}

/* container */
#container #main_banner {
  position: relative;
  width: 100%;
}

#container #content .section {
  padding: 5rem 3rem;
  text-align: center;
}

#container #content .section .intro {
  padding: 5rem 1.5rem;
}

#container #content .section h2 {
  padding-bottom: 5rem;
}

#container #content .section p {
  text-align: justify;
  font-size: 16px;
  line-height: 25px;
}

#container #content .section .sub_line {
  padding-bottom: 2rem;
}

#container #content .section hr {
  width: 200px;
}